@import '../../base/mixins';

.top {
    position: sticky;
    top: 80px;
    padding-top: 33px;
    padding-bottom: 47px;
    border-radius: 10px;
    background: var(--Gris, #F2F2F2);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);

    h5 {
        color: var(--Azul-Colraices, #2A3F77);
        font-size: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 20px 0;
    }

    .top-article-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 20px;

        .top-article {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;

            .number {
                color: var(--Azul-Colraices, #2A3F77);
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .line-gold-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .line-gold {
                    width: 1px;
                    height: 27px;
                    background: #b08c47;
                }

            }

            .top-texts {
                display: flex;
                flex-direction: column;

                .title {
                    margin: 0.2rem;
                    text-align: start;
                    color: var(--Azul-Colraices, #2A3F77);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                .description {
                    max-width: 240px;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin: 0.2rem;
                    text-align: justify;
                    color: var(--Azul-Colraices, #2A3F77);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .author {
                    margin: 0.2rem;
                    text-align: justify;
                    color: var(--SUBITULO-HOME, #b08c47);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

            }
        }

    }

    @include laptop {
        width: 338px;
    }
}