# NEXT_PUBLIC_API_URL='http://localhost:8080/api'
NEXT_PUBLIC_API_URL='https://adstest.colraices.com/api'
NEXT_PUBLIC_CLIEN_ID='AaASRXaFASZYLAnexGRLumH8q5F75qmJ1GKcvohOkp8s3ORwjPh9CE7sDa7TYAnTyz1FH7mUhYfezUy-'
NEXT_PUBLIC_CRYPTO_KEY='claveParaRecibirCripto'
NEXT_PUBLIC_CDC_ENDPOINT='https://cdc-colraices.netlify.app/'
TOUR_LOCKDOWN_ENABLED=false
NEXT_PUBLIC_URL_BASE_NUEVA_WEB=https://colraices-web.vercel.app
NEXT_PUBLIC_NEW_COLRAICES_URL=https://colraices.com
NEXT_PUBLIC_TOUR_URL=https://tour.colraices.com
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_YOUTUBE_URL=
