@import '../../base/variables';
@import '../../base/mixins';

.container-flex {
    position: relative;

    .mySwiper {
        padding-bottom: 8rem;
        border-radius: 5rem;

        .swiper-slide {
            height: auto;
            position: relative;
            min-height: 600px;
            max-height: 100vh;
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $primary;
            bottom: 0px;
            top: auto;
            z-index: 20;

            &::after {
                font-size: 25px;
                font-weight: 700;
                color: $white;
            }

            &.swiper-button-disabled {
                opacity: 1;
                background-color: #8b8b8b;
            }
        }

        .swiper-button-prev {
            left: 55px;
        }

        .swiper-button-next {
            right: 55px;
        }

        span.swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $secondary;
        }

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            opacity: 1;
            margin-inline: 1rem;
            background-color: $primary;
        }

        .swiper-pagination-horizontal {
            bottom: 10px;
        }

        @include laptop {
            padding-bottom: 0;
            border-radius: 0;

            .swiper-pagination-bullet {
                margin-inline: 1.5rem;
                background-color: $white;
            }

            .swiper-pagination-horizontal {
                bottom: 15px;
            }

            .swiper-slide {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
    }

    .partners-desktop {
        display: none;
    }

    .partners {
        max-width: 1200px;
        margin: 8rem auto 0;
    }

    @include laptop {
        .partners-desktop {
            display: block;
            padding: 0 84px 0 144px;
        }
    }

    @include desktopxl {
        .partners-desktop {
            width: 100%;
            padding: 0;
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    div.banner-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-inline: 2rem;
        padding-inline: 2rem;
        border-radius: 2.5rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.26) 40%, #fff 100%);
            z-index: 1;
            margin-inline: 2rem;
            border-radius: 2.5rem;
        }

        .banner-title {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;
        }

        h1 {
            font-size: clamp(3rem, 2.1346rem + 3.8462vw, 5.5rem);
            font-weight: 700;
            text-align: center;
            color: $white;
            margin: 0;
        }

        p {
            font-size: clamp(1.6rem, 1.1154rem + 2.1538vw, 3rem);
            text-align: center;
            color: $white;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: clamp(1.6rem, 1.3923rem + 0.9231vw, 2.2rem);
            font-weight: 400;
            color: $primary;
            padding: 1rem 4rem;
            border-radius: 26px;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            background-color: #ffb800;
        }

        @include laptop {
            max-width: 125rem;
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 6rem;
            border-radius: 0;

            &::before {
                margin-inline: 0;
                border-radius: 0;
            }

            .banner-title {
                align-items: flex-start;

                h1 {
                    max-width: 600px;
                    text-wrap: pretty;
                    text-align: left;
                }

                h1.title-portal-inmobiliario {
                    max-width: 100%;
                }

                p {
                    text-align: left;
                    text-wrap: balance;
                }
            }
        }
    }

    @include laptop {
        top: -95px;
    }
}
