@import '../../base/variables';
@import '../../base/mixins';

section.Property-container {
    position: relative;

    h2 {
        position: relative;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-align: center;
        margin: 1.7rem auto 4.5rem auto;

        span {
            color: $primary;
        }
        max-width: 100rem;
        width: 95%;
    }

    div.Property-title {
        display: grid;
        place-content: center;
        width: 19.3rem;
        height: 2.7rem;
        background: $secondary;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 0px 8px 8px 8px;
        margin: 0 auto 3rem auto;
        grid-area: title;

        h3 {
            font-weight: 700;
            font-size: 1.4rem;
            color: $white;
            line-height: 1.7rem;
            text-align: center;
        }
    }

    .Figure-left {
        position: absolute;
        top: 8rem;
        left: 0;
        z-index: 2;
    }

    .Figure-right {
        position: absolute;
        bottom: 19.5rem;
        right: 0;
        z-index: 2;
    }

    div.Property-slider {
        display: grid;
        grid-template-areas:
            'title'
            'slider'
            'paragraph';
    }

    p {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.8rem;
        max-width: 30rem;
        margin: 0.5rem auto 0 auto;
        white-space: pre-line;
        text-align: justify;
    }

    p:nth-of-type(2) {
        margin: 0 auto 2.7rem auto;

        span {
            font-weight: 700;
        }
    }

    button.Property-button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 16.6rem;
        height: 3.1rem;
        background: $primary-alt;
        border: 1px solid $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4.9rem;
        margin: 0 auto 2.5rem auto;
        padding: 0 0 0 0.5rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;

        a {
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 3rem;
            color: $white;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: $secondary;
                z-index: -1;
                border-radius: 10rem;
                transition: 0.3s ease all;
                transform: scale(0, 1);
                transform-origin: top right;
                transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
                transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
            }

            &:hover::after {
                transform: scale(1, 1);
                transform-origin: top left;
            }
        }
    }

    @include laptop {
        div.Property-border {
            padding: 5rem 0 6rem 0;
            box-shadow: 3.18px 3.18px 10.58px rgba(102, 101, 101, 0.58);
        }

        h2 {
            font-size: 3.5rem;
            line-height: 4.3rem;
            margin: 5rem auto 7rem auto;
        }

        div.Property-title {
            width: 43.7rem;
            height: 6rem;
            align-self: end;
            margin: 0 0 5rem 0;

            h3 {
                font-size: 3.5rem;
                line-height: 4.3rem;
            }
        }

        .Figure-left {
            width: 17.5rem;
            height: 54.3rem;
            top: 3rem;
            left: 0;
        }

        .Figure-right {
            width: 15.9rem;
            height: 49.2rem;
            top: 31rem;
            right: 0;
        }

        div.Property-slider {
            max-width: 105rem;
            margin: 0 auto;
            grid-template-areas:
                'slider title'
                'slider paragraph';
        }

        p {
            font-size: 2.4rem;
            line-height: 3rem;
            max-width: 47rem;
        }

        p:last-of-type {
            margin: 0 0 5rem 0;
        }

        button.Property-button {
            width: 23.8rem;
            height: 4.3rem;
            margin-top: 6rem;

            img {
                width: 2.6rem;
                height: 2.6rem;
            }

            a {
                font-size: 2rem;
            }
        }
    }
}
