@import '../../base/variables';
@import '../../base/mixins';

section.Property-container {
    h2 {
        max-width: 150rem;
        font-size: clamp(1.4rem, 0.2857rem + 4.9524vw, 4rem);
        font-weight: 700;
        text-align: center;
        text-wrap: balance;
        margin: 0 auto;

        span {
            color: $primary;
        }
    }
}