@import '../../base/variables';
@import '../../base/mixins';

section.assisted-search {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        margin: 10rem 0 18rem;
    }
}