@import "../../base/variables";
@import "../../base/mixins";

section.timeline-container {
    position: relative;

    hr {
        display: none;
    }

    @include tablet {
        height: 800px;
        display: flex;
        justify-content: center;
        margin: 10rem auto;

        div.timeline-content {
            position: absolute;
            width: 1350px;
            margin: 0 auto;

            // @include desktopxl {
            //     position: absolute;
            //     margin: 0 auto 0 15%;
            // }
        }

        hr {
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 360px;
            z-index: -1;
            background-color: $secondary;
        }
    }
}