.atributosInmueble {
    margin-top: 3rem;
    padding: 2.5rem 3rem;
    border-radius: 12px;
    background-color: $blanco;
    box-shadow: -2px -2px 6px 0px rgba(0, 0, 0, 0.15), 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

    .atributosInmueble__titel {
        font-size: clamp(1.4375rem, 1.375rem + 0.2778vw, 1.8rem);
        color: $primario;
        margin-bottom: 1rem;
    }

    .atributosInmueble__icon {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
    }

    .atributosInmueble__icon__item {
        max-height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid $secundario;
        padding: 0.5rem;

        svg {
            color: $secundario;
        }

        li {
            font-size: clamp(1.4375rem, 1.375rem + 0.2778vw, 1.625rem);
            text-wrap: balance;
            color: $gris;
            text-align: center;
            margin: 0;
        }

        @include tablet {
            justify-content: center;

        }
    }

    .atributosInmueble__icon {
        .atributosInmueble__icon__item {
            li {
                color: $gris;
            }
        }
    }



    @include tablet {

        .atributosInmueble__titel {
            margin: 0 0 3rem;
        }

        .atributosInmueble__icon {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            grid-template-rows: unset;
            grid-auto-flow: dense;

        }
    }
}