@import '../../base/mixins';

section{
    padding-bottom: 30px;

    h2{
        color: var(--Azul-Colraices, #2A3F77);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 10px;
    }

    @include laptop{
        h2{
            font-size: 22px;
        }
    }

    .container-cards-article{
        padding-top: 38px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .container-cards-medium{
            display: flex;
            flex-direction: column;
            gap: 18px;
        }
    }
}