section{
    h2{
        color: var(--Azul-Colraices, #2A3F77);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 10px;
    }

    .container-cards-article{
        padding-top: 38px;
    }
}