.inmSimilares {
    margin: 0rem auto 3rem;
    display: flex;
    justify-content: space-around;

    @include tabletinvert {
        flex-wrap: wrap;
        align-items: center;
        row-gap: 3rem;
    }

    .itemReciente__main {
        min-height: 545px;
    }
}